/*
Attorney archive.

@since 0.1.0
*/

@import "../settings";

body.post-type-archive-attorney {

  .attorney-select {
    li {
      display: inline-block;
      background: #000;

      img {
        opacity: 0.5;
        transition: opacity 300ms;
        cursor: pointer;
      }

      &.active {
        img {
          opacity: 1;
        }
      }
    }
  }

  .attorneys {
    margin-top: $column-gutter / 2;

    li {
      @include image-overlay(rgba(#000, 0.8), rgba(#000, 0), left);
      color: $light-color;
      background-size: cover;
      background-position: center center;

      @media #{$small-only} {
        text-align: center;
      }

      .container {
        position: relative;
        padding-left: $column-gutter / 2;
        height: 100%;
        z-index: 2;

        h2 {
          text-transform: uppercase;
          margin: 0;
        }

        a {
          color: inherit;
        }

        .attorney-title {
          font-size: 1.5em;
          margin: 0;
        }

        .attorney-read-more {
          position: absolute;
          bottom: $column-gutter / 2;
          left: $column-gutter / 2;
          margin: 0;
          width: 100%;
        }

        .button {
          font-size: inherit;
          color: inherit;
          border-color: inherit;
          transition: border 300ms, background 300ms;
          margin: 0;

          &:hover {
            border-color: $primary-color;
          }
        }
      }
    }
  }
}