/*
Styles shared among all templates.

@since 0.1.0
*/

@import "../settings";

// Mobile icon is tiny...
.fa-mobile {
  font-size: 1.7em !important;
}

[class*="block-grid-"] {
  &.collapse {
    padding-left: 0;
    padding-right: 0;
  }
}

.image-container {
  background-size: cover;
  background-position: center center;

  .container {
    position: absolute;
    left: $column-gutter / 2;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: $light-color;
    z-index: 1;

    @media #{$small-only} {
      width: auto;
    }
  }
}

.practice-areas {
  font-weight: normal;
  text-align: left;
  padding: 0 ($column-gutter / 2);

  .practice-area-title, p {
    font-weight: inherit;
  }

  li {
    padding-bottom: rem-calc(10);

    .practice-area {

      a {
        display: block;
        padding: 0.5em;
        border-bottom: 0.8em solid darken($light-color, 10%);
        background: $light-color;
        box-shadow: 2px 2px 2px rgba(#000, 0.2);
        color: $medium-color;
        cursor: pointer;
        transition: color 300ms, border 300ms, background 300ms;

        &:hover {
          background: $primary-color;
          border-bottom: 0.8em solid lighten($primary-color, 10%);
          color: $light-color;
          transition: color 150ms, border 150ms, background 150ms;
        }
      }

      .practice-area-title {
        font-size: 1.2em;
        margin: 0;
      }
    }
  }

  // Top Level
  &.top-level {
    text-align: center;

    .practice-area {
      padding-top: $column-gutter / 2;

      .practice-area-icon {
        font-size: 7em;
      }
    }
  }
}