/*
Contact template

@since 0.1.0
*/

@import "../settings";

body.page-template-contact {
  .image-container {
    @include image-overlay(rgba(#000, 0.8), rgba(#000, 0), left);
    background-size: cover;
    font-size: 1.5em;
    margin-bottom: $column-gutter / 2;

    .container {
      width: 100%;
    }

    .address {
      font-size: 1.5em;
      font-weight: 900;
    }

    p {
      font-size: inherit;
      font-weight: inherit;
    }

    a {
      color: inherit;
    }
  }
}