/*
Firm OVerview template

@since 0.1.0
*/

@import "../settings";

body.page-template-firm-overview {
  .image-container {
    @include image-overlay(rgba(#000, 0.8), rgba(#000, 0), left);
    background-size: cover;
    margin-bottom: $column-gutter / 2;

    .quote {
      display: block;
      font-size: 3em;
    }
  }
}