/*
Base element settings (no classes or id's).

@since 0.1.0
*/

@import "settings";

a {
  &.color-invert {
    color: inherit;

    &:hover {
      color: $anchor-font-color-hover;
    }
  }
}

// Select color
::selection {
  background: $primary-color;
  @include light-or-dark-text($primary-color);
 }
::-moz-selection {
  background: $primary-color;
  @include light-or-dark-text($primary-color);
}

// Classes
.screen-reader-text {
  display: none;
}

.row.expand {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
}

.alignleft {
  float: left;
  margin-right: $gutter;
}

.alignright {
  float: right;
  margin-left: $gutter;
}

.aligncenter {
  display: block;
  margin: $gutter auto;
}